section {
  display: flex;
  justify-content:center;
  align-items:center;
  width: 100vw;
  height: 100vh;
}

h1 {
  color: #fff;
  font-size: 100px;
}

.blue {
  background-color: #3498db;
}

.green {
  background-color: #2ecc71;
}

.orange {
  background-color: #e67e22
}

/* ------- ANIMATIONS -------*/

.js--wp-1
{
  opacity: 0;
  animation-duration: 1s;
}

.js--wp-1.animated {
  opacity: 1;
}